## Option 3 - Spread of Covid 19

Look at this document for reference,
https://www.kaggle.com/anandhuh/covid19-in-world-countrieslatest-data

In [1]:
# (1) Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# (2) Import the CSV file
covid19Df = pd.read_csv('./worldwide covid data.csv')

In [3]:
# (3) Explore data (for example, see what is categorial and numerical)
covid19Df.head()

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1M population,Deaths/1M population,Total Tests,Tests/1M population,Population
0,Afghanistan,156397,7290,128982.0,20125.0,3899,182,777578.0,19384.0,40114009
1,Albania,190125,2970,178998.0,8157.0,66164,1034,1334004.0,464238.0,2873536
2,Algeria,207385,5954,142332.0,59099.0,4616,133,230861.0,5139.0,44922583
3,Andorra,15717,130,15392.0,195.0,202975,1679,193595.0,2500161.0,77433
4,Angola,64762,1723,61092.0,1947.0,1891,50,1140341.0,33297.0,34247275

In [4]:
# Check data types
covid19Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    196 non-null    object
 1   Total Cases                196 non-null    int64
 2   Total Deaths               196 non-null    int64
 3   Total Recovered            194 non-null    float64
 4   Active Cases               194 non-null    float64
 5   Total Cases/1M population  196 non-null    int64
 6   Deaths/1M population       196 non-null    int64
 7   Total Tests                192 non-null    float64
 8   Tests/1M population        192 non-null    float64
 9   Population                 196 non-null    int64
dtypes: float64(4), int64(5), object(1)
memory usage: 15.4+ KB

In [10]:
# Covert float64 into int64
covid19Df = covid19Df.dropna(subset=['Total Recovered'])
covid19Df = covid19Df.dropna(subset=['Active Cases'])
covid19Df = covid19Df.dropna(subset=['Total Tests'])
covid19Df = covid19Df.dropna(subset=['Tests/1M population'])

covid19Df['Total Recovered'] = covid19Df['Total Recovered'].apply(np.int64)
covid19Df['Active Cases'] = covid19Df['Active Cases'].apply(np.int64)
covid19Df['Total Tests'] = covid19Df['Total Tests'].apply(np.int64)
covid19Df['Tests/1M population'] = covid19Df['Tests/1M population'].apply(np.int64)

covid19Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 195
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    191 non-null    object
 1   Total Cases                191 non-null    int64
 2   Total Deaths               191 non-null    int64
 3   Total Recovered            191 non-null    int64
 4   Active Cases               191 non-null    int64
 5   Total Cases/1M population  191 non-null    int64
 6   Deaths/1M population       191 non-null    int64
 7   Total Tests                191 non-null    int64
 8   Tests/1M population        191 non-null    int64
 9   Population                 191 non-null    int64
dtypes: int64(9), object(1)
memory usage: 16.4+ KB

In [6]:
# (4) Choose the label and features

In [7]:
# (5) Feature engineer for data that is
# (a) relevant 
# (b) unique
# (c) correct 
# (d) not missing

# Drop data that is not a,b,c, or d

In [8]:
# (6) Confirm data is ready with further exploratory analysis

In [9]:
# (7) Training, Testing (and/or Validation) data split 

# for example, 60/20/20